<h1>STRINGS</h1>

In [2]:
"string"

'string'

In [3]:
'strings for dayyyz'

'strings for dayyyz'

In [4]:
var = 'string'

In [5]:
var

'string'

In [6]:
print(var)

string

In [8]:
var[-1]

'g'

In [11]:
print('escape \n\tworld')

escape
	world

In [12]:
len(var)

6

In [15]:
mystring = "Hello Gurrlzz"

In [16]:
mystring[0]

'H'

In [17]:
mystring = "abcdefghijk"

In [18]:
#Get characters from index to end
mystring[2:]

'cdefghijk'

In [19]:
# Get characters from start to but not including index
mystring[:3]

'abc'

In [20]:
# Get characters from index3 to but not including index6
mystring[3:6]

'def'

In [21]:
mystring[::]

'abcdefghijk'

In [22]:
# Go from start to end using stepsize 2
mystring[::2]

'acegik'

In [23]:
# Go from 2 to 7 using step size 2
mystring[2:7:2]

'ceg'

In [24]:
# Using this procedure to reverse a string
mystring[::-1]

'kjihgfedcba'

In [26]:
# String Concat
var1 = "Hello"
var2 = "World"
print(var1 + " " + var2)

Hello World

In [27]:
# String multiplication
var = 'z'

In [28]:
var * 8

'zzzzzzzz'

In [29]:
var

'z'

In [30]:
var = 'Hello World'

In [31]:
var.upper()

'HELLO WORLD'

In [33]:
var.casefold()

'hello world'

In [36]:
var = 'Hello, this is a string'
var.split()

['Hello,', 'this', 'is', 'a', 'string']

In [37]:
print('Hello my name is {} and my age is {}'.format('Fredrik', '34'))

Hello my name is Fredrik and my age is 34

In [42]:
print('{0} {1} {2}'.format('fox', 'chicken', 'bird'))
print('{1} {1} {1}'.format('fox', 'chicken', 'bird'))
print('{2} {1} {0}'.format('fox', 'chicken', 'bird'))

fox chicken bird
chicken chicken chicken
bird chicken fox

In [45]:
res = 100 / 777

In [46]:
res

0.1287001287001287

In [50]:
print('The result is {r:1.2f}'.format(r = res))

The result is 0.13

In [51]:
name = 'Jose'

In [52]:
print(f'Hello, my name is {name}')

Hello, my name is Jose

<h1>LISTS</h1>

In [54]:
myList = [1, 2, 3,]

In [55]:
len(myList)

3

In [60]:
# It is ok to do this in python, madness!:
myList = ['One', 2, 3.0]

In [62]:
myList = ['one', 'two', 'three']

In [64]:
anotherList = ['four', 'five',]

In [65]:
myList + anotherList

['one', 'two', 'three', 'four', 'five']

In [66]:
anotherList.append('six')

In [67]:
anotherList

['four', 'five', 'six']

In [68]:
anotherList[0].upper()

'FOUR'

In [69]:
anotherList

['four', 'five', 'six']

In [70]:
anotherList.pop()

'six'

In [71]:
anotherList

['four', 'five']

In [72]:
anotherList.pop(0)

'four'

In [73]:
anotherList

['five']

In [74]:
newList = [1,4,2,5,4,9,7,4,8,5,8]

In [75]:
newList

[1, 4, 2, 5, 4, 9, 7, 4, 8, 5, 8]

In [76]:
newList.sort()

In [77]:
newList

[1, 2, 4, 4, 4, 5, 5, 7, 8, 8, 9]

<h1>DICTIONARIES</h1>

In [78]:
myDict = {'key1':'val1', 'key2':'val2'}

In [79]:
myDict['key1']

'val1'

In [84]:
dict = {'k1':123, 'k2':[0,1,2], 'k3':{'insideKey':100}}

In [86]:
dict['k2'][1]

1

In [87]:
dict['k3']['insideKey']

100

In [88]:
dict.keys()

dict_keys(['k1', 'k2', 'k3'])

<h1>TUPLES</h1>
<p> Tuples behave in the same way as lists, but they are immutable.</p>

In [90]:
tup = (1, 2, 3)

In [91]:
len(tup)

3

In [92]:
tup[-1]

3

In [94]:
tup = ('a', 'b', 'a', 'c')

In [95]:
tup.count('a')

2

In [96]:
tup.index('b')

1

<h1>SETS</h1>

In [97]:
mySet = set()

In [98]:
mySet

set()

In [99]:
mySet.add(1)

In [100]:
mySet

{1}

In [101]:
mySet.add(2)

<h1>BASIC I/O</h1>

In [102]:
%%writefile testfile.txt
Hello, this is a textfile
This is the second line
This is the third line

Writing testfile.txt

In [103]:
myFile = open('testfile.txt')

In [104]:
pwd

'/home/fredrik/Udemy-python'

In [105]:
myFile.read()

'Hello, this is a textfile\nThis is the second line\nThis is the third line\n'

In [106]:
myFile.seek(0)
s = myFile.read()
print(s)

Hello, this is a textfile
This is the second line
This is the third line

In [107]:
myFile.seek(0)

0

In [109]:
myFile.readlines()

['Hello, this is a textfile\n',
 'This is the second line\n',
 'This is the third line\n']

In [111]:
myFile.close()

In [112]:
with open('testfile.txt') as myNewFile:
    cont = myNewFile.read()

In [113]:
cont

'Hello, this is a textfile\nThis is the second line\nThis is the third line\n'